:root {
  --background-color: rgba(241, 240, 231, 0.4);
  --primary-color: #26352A;
  --secondary-color: #AFCDA3;
}

html {
  font-family: monospace;

  scrollbar-color: var(--secondary-color) var(--primary-color);
}

::selection {
  background-color: #26352A;
  color: #AFCDA3;
}

button {
  font-family: monospace;
}

body {
  margin: 0;
  min-height: 90vh;

  background-image: url(assets/background-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.browser-body {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.browser {
  width: 90%;
  max-width: 1200px;
  height: 85vh;

  margin: 5vh auto;

  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
  backdrop-filter: blur(5px);
  border-radius: 20px;

  overflow: auto;

  border: 2px inset white;
}

.browser-bar {
  background-color: var(--primary-color);
  min-height: 70px;

  padding: 5px 15px 15px 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.browser-bar h1 {
  text-align: center;
  font-weight: lighter;
  font-size: x-small;
  color: var(--secondary-color);
}

.search-lang {
  display: flex;
  justify-content: space-around;
}

.arrow-buttons {
  display: flex;
  gap: 10px;
  font-size: 50px;
  text-align: center;
}

.arrow-buttons .arrow {
  background-color: var(--secondary-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 45px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background-color: white;
  min-width: 60%;

  font-size: small;
  color: rgba(0, 0, 0, 0.5);
}

.search-bar img {
  opacity: 50%;
}

.language {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background-color: white;
  padding: 0 10px 0 10px;

  text-align: center;
}

.language button {
  display: flex;
  gap: 10px;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

nav {
  background-color: var(--secondary-color);
  border-bottom: solid rgba(255, 255, 255, 0.33) 1px;
}

nav button {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 0 200px;

  list-style-type: none;
}

nav ul li {
  background-color: rgba(0, 0, 0, 0.15);
  margin: 10px 0 10px 0;

  min-width: 25%;
  text-align: center;

  border-radius: 5px;

  box-shadow:
    white inset 1px 1px,
    var(--primary-color) inset -2px -2px;

}

.browser-content {
  display: grid;
  grid-template-columns: 250px 1fr;
  flex: 1;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  background-color: var(--secondary-color);

  border-radius: 30px;
  border: white inset 2px;

  margin: 10px;
  padding: 15px;
}

aside .profile-photo {
  width: 175px;
  border-radius: 30px;
  border: white 2px inset;
}

.sidebar-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-title h2,
.sidebar-title p {
  margin: 0;

  font-size: large;
  text-align: center;
}

.sidebar-title p {
  font-size: smaller;
}

aside .where {
  border-top: #26352A solid 1px;
  border-bottom: #26352A solid 1px;
}

aside .where p {
  font-size: small;
}

.sidebar-links {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
}

.sidebar-links .link {
  background-color: white;

  margin: 0 auto;
  padding: 10px;

  border-radius: 30px;
}

.sidebar-links img {
  width: 40px;
}

footer {
  display: flex;
  justify-content: center;

  p {
    font-size: x-small;

    color: rgba(0, 0, 0, 0.6);
  }
}

/* media queries + responsive stuff bla bla */

/* mobile */
@media (max-width: 767px) {
  aside {
    display: none;
  }
}

/* tablet */
@media (min-width: 768px) {}

/* laptop */
@media (min-width: 1024px) {
  .browser-content {
    grid-template-columns: 300px 1fr;
  }
}

/* desktop */
@media (min-width: 1280px) {}